body, td, div {padding: 15px;margin: 15px;font-size: 13px; line-height: 1.5em; color: #666;}
img {border: 0}
a{text-decoration: none;color: #666;}
a:hover{text-decoration: underline; color: #f00;}
table td{padding: 5px 10px;}
.page{width: 100%;}
.page a, .page span{display: inline-block;height:20px;margin-left:3px;padding:2px 9px;line-height:20px;text-align:center;text-decoration: none;border:1px solid #d1cccc;}
.page .disabled{color:#999;cursor:default;}
