body {
	margin: 0; padding: 0; text-align: center; background: #fff;
}

body, td, div {
	font-size: 12px; line-height: 1.5em; color: #666;
}

ul, li, form, h1, h2, h3, h4 {
	margin: 0; padding: 0
}

img {
	border: 0
}


h3 {
	font-size: 14px; margin: 10px 0;
}

a:link, a:visited {
	color: #666; TEXT-DECORATION: none
}

a:hover {
	color: #f60; TEXT-DECORATION: none
}

a.green:link, a.green:visited {
	color: #7CC346; TEXT-DECORATION: none
}

a.green:hover {
	color: #f60; TEXT-DECORATION: none
}

.clear {
	clear: both
}

.over-hide {
	overflow: hidden; white-space: nowrap; -o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
