body {
	margin: 0; padding: 0; text-align: center; background: #fff;
}

body, td, div {
	font-size: 12px; line-height: 1.5em; color: #666;
	font-family: 微软雅黑, song, arial, verdana;
}

ul, li, form, h1, h2, h3, h4 {
	margin: 0; padding: 0
}

img {
	border: 0
}

h2 {
	font: bold 16px 微软雅黑, song, verdana;
}

h3 {
	font-size: 14px; margin: 10px 0;
}

li {
	list-style: none
}

a:link, a:visited {
	color: #666; TEXT-DECORATION: none
}

a:hover {
	color: #f60; TEXT-DECORATION: none
}

a.green:link, a.green:visited {
	color: #7CC346; TEXT-DECORATION: none
}

a.green:hover {
	color: #f60; TEXT-DECORATION: none
}

.clear {
	clear: both
}

.sText {
	font-size: 10px;
}

.gText {
	color: #c7624e;
}

/*header*/
#header {
	width: 100%; height: 274px; overflow: hidden;
	background: url(../images/top_bg.jpg) left top repeat-x;
}

#header .owrap {
	width: 1440px; height: 274px; margin: 0 auto;
	background: #000 url(../images/headerBg.jpg) center top no-repeat;
}

#header .wrap {
	width: 930px; height: 274px; margin: 0 auto;
}

.logo {
	visibility: visible; float: left; width: 170px; height: 79px;
	margin-top: 145px; margin-left: 15px;
	background: url(../images/logo.png) no-repeat;
}

.logo a:link, .logo a:visited {
	position: relative; display: block; width: 149px; height: 60px;
}

.menu {
	float: right; width: 240px; height: 120px; padding: 15px 15px 15px 5px;
	margin-top: 100px; margin-left: 240px;
	background: url(../images/bubble.png) center no-repeat;
}

.menu .menu1 {
	position: relative; top: 0; left: 15px; height: 20px; width: 228px;
	background: url(../images/menu.png) 15px 0 no-repeat;
}

.menu .menu1 .hover {
	position: absolute; top: 0; left: 0px; height: 20px; width: 228px;
	background: url(../images/menu.png) 15px -60px no-repeat;
}

.menu .menu2 {
	position: relative; top: 0; left: 15px; height: 20px; width: 228px;
	background: url(../images/menu.png) 15px -20px no-repeat;
}

.menu .menu2 .hover {
	position: absolute; top: 0; left: 0px; height: 20px; width: 228px;
	background: url(../images/menu.png) 15px -80px no-repeat;
}

.menu .menu3 {
	position: relative; top: 0; left: 15px; height: 20px; width: 228px;
	background: url(../images/menu.png) 15px -40px no-repeat;
}

.menu .menu3 .hover {
	position: absolute; top: 0; left: 0px; height: 20px; width: 228px;
	background: url(../images/menu.png) 15px -100px no-repeat;
}

.menu a:link, .menu a:visited {
	display: block; height: 20px;
}

.menu .flashSite a:link, .menu .flashSite a:visited {
	float: right; width: 87px; height: 27px; margin-top: 52px;
	background: url(../images/flashSite.gif) no-repeat;
}

.wraper {
	width: 930px; padding: 0 30px; margin: 0 auto;
	background: url(../images/mBg.jpg) no-repeat;
}

.mWraper {
	position: relative; width: 930px; margin: 0 auto;
}

.mask_tl {
	position: absolute; z-index: 9999; top: 0; left: 270px; width: 99px;
	height: 104px; background: url(../images/mask_tl.png) no-repeat;
}

/*home*/
.topSpacer {
	width: 930px; height: 40px; margin: 0 auto;
	background: url(../images/topSpacerLine.gif) 615px 0 no-repeat;
}

.left {
	float: left; width: 636px;
}

.service {
	width: 636px; height: 164px; margin-top: 31px;
	background: url(../images/serviceBg.jpg) no-repeat;
}

.service dl {
	float: left; margin-top: 70px;
}

.service dt {
	float: left;
}

.service dd {
	margin-top: 10px; text-align: left;
}

.service a:hover {
	color: #999;
}

.right {
	position: absolute; top: 0; left: 636px; width: 294px;
}

.right h1 {
	text-align: right;
}

.newCase {
	width: 293px; height: 333px; margin-top: 26px;
	background: url(../images/newCase_Bg.jpg) right top no-repeat;
}

.caseCommend {
	position: relative; height: 91px; margin-left: 65px; padding-top: 6px;
	text-align: left;
}

.caseCommend span {
	position: absolute; top: 3px; left: -25px; width: 57px; height: 57px;
	background: url(../images/new.png) no-repeat;
}

.caseCommendList {
	margin-top: 84px; text-align: left;
}

.caseCommendList .pho {
	float: left; display: inline; margin-left: 24px;
}

.caseCommendList ul {
	float: left; margin-left: 15px;
}

.caseCommendList ul li {
	height: 24px; width: 140px; overflow: hidden; white-space: nowrap;
	-o-text-overflow: ellipsis; text-overflow: ellipsis;
}

/*slideShow*/
.slideShow {
	position: relative; width: 668px; height: 268px; text-align: left;
}

.slideShow span {
	position: absolute; z-index: 999; top: -25px; left: -30px; width: 99px;
	height: 104px; background: url(../images/mask_tl.png) no-repeat;
}

#picBox {
	position: relative; width: 633px; height: 268px; overflow: hidden;
}

#picBox ul#show_pic {
	list-style: none; height: 268px; width: 4140px; position: absolute;
}

#picBox ul#show_pic li {
	float: left; width: 633px; height: 268px; overflow: hidden;
}

#picBox ul#show_pic li img {
	display: block;
}

#icon_num {
	position: absolute; z-index: 999; top: 253px; left: 530px; width: 100px;
	height: 12px;
}

#icon_num li {
	float: right; list-style: none; margin: 0 2px;
}

#icon_num li a:link, #icon_num li a:visited {
	display: block; width: 12px; height: 12px; overflow: hidden;
	background: url(../images/slideShowIcon.gif) no-repeat;
}

#icon_num .active a:link, #icon_num .active a:visited {
	display: block; width: 12px; height: 12px; overflow: hidden;
	background: url(../images/slideShowIcon_active.gif) no-repeat;
}

/*bottom*/
.bottom {
	margin-top: 20px; text-align: left;
}

.aboutBox {
	float: left; width: 365px;
}

.aboutBox .brief {
	padding-right: 30px;
	background: url(../images/dotBg_v.gif) right top repeat-y;
}

.aboutBox .brief img {
	margin-right: 10px;
}

.designLink {
	margin: 5px 0; text-align: right;
}

.contactBox {
	float: left; width: 265px; margin-left: 30px;
}

.contactBox .qq {
	margin-top: 8px; margin-bottom: 15px;
}

.aboutBox h3, .contactBox h3, .bookBox h3 {
	font: bold 12px song; text-align: left;
	background: url(../images/ico_add.gif) 55px 3px no-repeat;
}

.aboutBox h3 {
	background: url(../images/ico_add.gif) 67px 3px no-repeat;
}
/*list*/
.sideBar {
	float: left; width: 245px; overflow: hidden; margin-top: 15px;
	text-align: right;
}

.qq_left {
	margin: 15px 0;
}

.subMenu {
	float: right; margin-top: 20px;
}

.subMenu li a:link, .subMenu li a:visited {
	color: #999; display: block; width: 133px; margin: 8px 0;
	line-height: 16px; border-bottom: 1px solid #eee;
}

.subMenu li a:hover {
	background: url(../images/subMenuBg_roll.gif) no-repeat;
}

.subMenu .active a:link, .subMenu .active a:visited {
	color: #333; border: 0;
	background: url(../images/subMenuBg_active.gif) no-repeat;
}

.main {
	float: right; width: 640px; margin-top: 20px; overflow: hidden;
	text-align: left;
}

.goTop {
	width: 620px; margin: 20px 0; padding: 10px 0;
	border-top: 1px dotted #dddddd; text-align: right;
}

.caseList {
	width: 655px;
}

.caseItem {
	position: relative; float: left; width: 189px; height: 180px;
	margin-right: 28px;
}

.caseItem .thumb {
	position: absolute; top: 7px; left: 7px; text-align: left;
}

.caseItem .thumb .caption {
	margin: 8px 0;
}

.caseItem .thumb .caption span {
	float: right; color: #999; font-size: 10px; margin-right: 10px;
}

.caseItem .thumb .caption a {
	color: #999;
}

.caseItem .thumbBg {
	height: 180px; background: url(../images/thumbBg.gif) repeat-x;
}

.caseItem img {
	width: 175px; height: 105px;
}

/*content*/
.caseInfoBox .pho {
	float: left; width: 175px;
}

.caseInfoBox .caseInfo {
	float: right; width: 445px; text-align: left;
}

.caseInfo .visit {
	padding: 10px 0; margin: 8px 0; border-top: 1px dotted #dddddd;
}

.caseAlbums {
	margin: 20px 0; border-top: 1px dotted #dddddd;
}

.caseAlbums img {
	margin: 10px 0;
}

.caseAlbums p {
	margin: 0px; padding: 0px;
}

.content, .content p, .content h2 {
	font-size: 13px; line-height: 20px;
}
/*page*/
.p_bar {
	float: right; margin: 20px 0; margin-right: 6px; display: none;
}

.p_bar a:link, .p_bar a:visited {
	display: block; float: left; color: #999; width: 24px;
	font: bold 12px/24px arial; height: 24px; margin: 0 4px;
	text-align: center; background: #eee;
}

.p_bar a:hover {
	color: #fff; background: #7CC346;
}

.p_bar .p_curpage:link, .p_bar .p_curpage:visited {
	color: #fff; background: #7CC346;
}

.p_bar .prev:link, .p_bar .prev:visited {
	background: #eee url(../images/pageNumBg_pre.gif) no-repeat;
}

.p_bar .next:link, .p_bar .next:visited {
	background: #eee url(../images/pageNumBg_next.gif) no-repeat;
}

.p_bar .first:link, .p_bar .first:visited {
	background: #eee url(../images/pageNumBg_first.gif) no-repeat;
}

.p_bar .last:link, .p_bar .last:visited {
	background: #eee url(../images/pageNumBg_last.gif) no-repeat;
}

.p_bar .disabled:link, .p_bar .disabled:visited {
	filter: alpha(opacity = 40); /* IE */ -moz-opacity: 0.4; /* Moz + FF */
	opacity: 0.4; /*CSS3*/
}

.p_page {
	float: right; margin: 20px 0; margin-right: 6px;
}
/*footer*/
#footer {
	width: 100%; height: 180px; padding-top: 50px;
	background: url(../images/footerBg.gif) left -50px repeat-x;
}

.botWrap {
	width: 930px; margin: 0 auto;
}

.botWrap .copy {
	float: left; width: 350px; line-height: 1.4em; text-align: left;
}

.botWrap .icp {
	float: right; width: 500px; line-height: 1.4em; text-align: right;
}

/*Forms*/
input, textarea, select {
	font-size: 12px; color: #B2B2B2; border: 0;
}

select {
	font: 12px song, verdana; color: #B2B2B2
}

.sideBar .links li {
	display: block; float: left; width: 245px; height: 25px;
	padding: 0px 0px 10px 0px; overflow: hidden; text-align: right;
}

.sideBar .links .links_tl {
	font-weight: bold; font-size: 14px; font-family: "宋体"; color: #999999;
	margin-top: 10px;
}

.sideBar .links img {
	margin: 0px 0px 0px 0px;
}

.sideBar .links a {
	display: inline;
}

.caseComment {
	margin-top: 50px;
}

/*分页系列样式*/
.page_info, .page_pre, .page_cur, .page_no, .page_next, .page_dot {
	display: inline-block; margin-left: 3px; height: 20px; padding: 0 2px;
	border: 1px solid #d1cccc; line-height: 20px; text-align: center;
}

.page_info {
	min-width: 80px; border: none;
}

.page_pre {
	width: 40px;
}

.page_cur {
	min-width: 25px; color: #fff; background: #949392
}

.page_no {
	min-width: 25px;
}

.page_next {
	width: 40px;
}

.page_none {
	color: #999; cursor: default;
}

.page_dot {
	border: none;
}