<assign name="title" value="/Index/hello" />
<include file="/header"/>
<!--% JS和CSS的导入 %-->
<h2>欢迎使用Steeze开发框架！</h2>
<import file="index.css?version=1.0,user.css,index.js" check="true" base="common/lib" />
<p>
图片资源导入：<img style="width:20px" src="{@http://steeze.cn/img/logonav.png}"/>
</p>
<p>
    基本变量输出：<br />
    函数：{$name|md5}（{$name|md5|strtoupper|substr=0,3}） <br />
    表达式：{{$year+23}}、 {{$company.name.s + 12}} <br />
</p>
<p>
    基本循环输出：
    <for start="1" end="10" step="1" name="index" comparison="elt">
        {$index}
    </for>
</p>
<p>
    调用标签方法（Index.show）： 
    <action name="Index/show" user="4" />
</p>
<p>
路由参数与数据表绑定：<a href="/index/lists/3">查看（id:3）</a>
</p>
<p>
    <a href="/index/lists">列表分页</a> / 
    <a href="/member/index/hello">分组控制器</a> / 
    <a href="/index/info">直接访问模板</a>
</p>
<include file="/footer"/>
