<!DOCTYPE html>
<html lang="zh-CN">
<head>
<title>{$title}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="keywords" content="{$SEO.keyword}">
<meta name="description" content="{$SEO.description}">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<import file="style.css"/>
<!--{
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
}-->
<slice name="header"/>
</head>
<body>
<slice name="body"/>
<slice name="footer"/>

<include file="/footer"/>