html {
	overflow-y: auto;
}

* {
	margin: 0; padding: 0; font-size: 12px;
}

form {
	display: inline;
}

.over-hide {
	overflow: hidden; white-space: nowrap; -o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.clear {
	clear: both; height: 0px; font-size: 0px;
}

img {
	border: none;
}
/*其它*/
.date-select {
	cursor: default;
	background: url(../images/input_date.png) right 2px no-repeat;
}

.text-input {
	background: url(../images/input.png) repeat-x;
}

.ib {
	display: inline-block; display: -moz-inline-stack; zoom: 1;
	*display: inline;
}
/*颜色选择*/
.colorpanel tbody td, .colorpanel tbody th {
	padding: 0; border-bottom: none;
}

.colorpanel a.close-own {
	background: url(../images/cross.png) no-repeat left 3px; display: block;
	width: 16px; height: 16px; position: absolute; outline: none;
	right: 7px; top: 8px; text-indent: 200px; overflow: hidden
}

.colorpanel a.close-own:hover {
	background-position: left -46px
}

/*显示方式切换*/
.view-type {
	width: 83px; float: right; font-size: 0px;
}

.view-type div {
	width: 19px; height: 19px; float: left;
	background: url(../images/view_type.gif) no-repeat; cursor: pointer;
}

.view-type .type_alert {
	width: 40px; background: none; cursor: default; line-height: 19px;
}

.view-type .list-on {
	background-position: 0 -32px; float: left;
}

.view-type .list-off {
	background-position: 0 0; float: left;
}

.view-type .thumb-on {
	background-position: -32px -32px; float: right;
}

.view-type .thumb-off {
	background-position: -32px 0; float: right;
}

/*通用缩略图列表*/
.thumb-list ul, .thumb-list ul li {
	margin: 0px; padding: 0px; list-style: none;
}

.thumb-list ul li {
	display: block; width: 130px; padding: 0 15px; height: 170px;
	overflow: hidden; float: left;
}

.thumb-list ul li div {
	width: 130px;
}

.thumb-list .thumb {
	height: 98px; width: 128px; _overflow: hidden;
	border: 1px solid #eeeeff; cursor: pointer;
	background: center no-repeat; _background-attachment: fixed;
	float: left;
}

.thumb-list .thumb div {
	height: 98px; width: 128px; background: url(../images/blank.gif) repeat;
	float: left;
}

.thumb-list .thumb .thumb_on {
	background: #aac no-repeat; filter: alpha(opacity = 50);
	-moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5;
}

.thumb-list .thumb .thumb_check {
	position: relative; top: -98px;
	background: url(../images/filecheck.gif) -176px -177px
}

.thumb-list .title {
	height: 25px; line-height: 25px; text-align: center; color: #333;
	float: left; white-space: nowrap; overflow: hidden;
}

.thumb-list .action {
	height: 25px; text-align: center; float: left; white-space: nowrap;
	overflow: hidden;
}

.thumb-list .action a {
	color: #666; margin: 2px; _margin: 0px;
}

.thumb-list .action a:hover {
	color: #f66;
}

.thumb-list .action .input-text {
	padding: 1px 2px; width: 20px; height: 15px;
}

.footer {
	height: 35px; padding-top: 5px; text-align: right; clear: both;
	padding-right: 50px;
}

.footer .do {
	width: 20%; float: left; text-align: center;
}

.footer .page {
	width: 70%; float: right;
}